.leaflet-container {
    height: 100vh;
}

.searchContainer {
    position: absolute;
    left: 2%;
    right: 2%;
    margin: 10px;
    z-index:100;
    color:transparent;
    background-color: transparent;
}

.map-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0; 
  }

  ion-searchbar.custom {
    --border-radius: 25px;
  }

  ion-searchbar.ios.custom {
    --cancel-button-color: #19422d;
  }

  ion-searchbar.md.custom {
    --cancel-button-color: #fff;
  }

  .custom-button {
    color: #fff; /* Standardtextfarbe */
    background-color: #0074e4; /* Standardhintergrundfarbe */
    transition: background-color 0.3s;
  }
  
  .custom-button.selected {
    background-color: #fff; /* Hintergrundfarbe beim Klicken */
    color: #0074e4; /* Textfarbe wird zur vorherigen Hintergrundfarbe */
  }